{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("public_profile", {id: app.user.id})}}">
            {{app.user.username}}
        </a>            
    </li>
    <li class="breadcrumb-item">
        <a href="{{path("change_password")}}">
            Changer mon mot de passe
        </a>            
    </li>
{% endblock %}

{% block body %}

<h1 class="text-center display-4">Changer mon mot de passe</h1>
<hr>

{{form_start(form, {attr: {class: "user-form"}})}}

    {{form_row(form.oldPassword)}}
    
    {{form_row(form.newPassword)}}
    

    <input class="btn btn-success" type="submit" value="Je change mon mot de passe">
{{form_end(form)}}

{% endblock %}
