{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("public_profile", {id: app.user.id})}}">
            {{app.user.username}}
        </a>            
    </li>
{% endblock %}

{% block body %}
<div class="list-group list-group-horizontal text-center">
    <a href="{{path("change_password")}}" class="list-group-item list-group-item-action text-light bg-primary">Changer de mot de passe</a>
    <a href="{{path("delete_account", {id: app.user.id})}}" class="list-group-item list-group-item-action text-light bg-danger delete-account">Supprimer mon compte</a>
    <a href="{{path("playlist_new")}}" class="list-group-item list-group-item-action text-light bg-success"><i class="fas fa-plus-square"></i> Playlist</a>
</div>

<h1 class="text-center display-2">
    Bonjour {{app.user.username}}
</h1>
<hr>

<div class="row">
    <div class="col-lg-8 mt-5">
        <h2 class="text-center">
            Playlists suivies
        </h2>
        <hr>
        {% if app.user.followedPlaylists.count > 0 %}

        <div id="followed-playlist-part" class="d-flex-center flex-wrap overflow-auto follows">
            {% for playlist in app.user.followedPlaylists %}
            {% if playlist.public %}
            <div id="followed-playlist-{{playlist.id}}" class="card show-playlist mb-3" style="width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if playlist.contents.count > 0 %}
                        {% set lastElement = playlist.contents.last %}
                        <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                            class="card-img">
                        {% else %}
                        <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                        {% endif %}
                        <div class="row mt-1 mx-0 justify-evenly">
                            {{ include("interaction/btn_group.html.twig", {playlist: playlist}) }}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                            </h5>
                            <p class="card-text">
                                Ajouté par :
                                {% if playlist.user %}
                                    <a class="font-italic" href="{{path("public_profile", {id: playlist.user.id})}}">
                                        {{playlist.user.username}}
                                    </a>
                                {% else %}
                                    Utilisateur supprimé
                                {% endif %}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {% if playlist.lastUpdate %}
                                    Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                                    {% else %}
                                    Création il y a {{dateDiff(playlist.createdAt)}}
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center">
            Vous ne suivez aucune playlist.
        </p>
        {% endif %}
    </div>
    <div class="col-lg-4 mt-5">
        <h2 class="text-center">
            Utilisateurs suivies
        </h2>
        <hr>
        {% if app.user.followedUsers.count > 0 %}
        <div id="followed-user-part" class="d-flex-center overflow-auto follows">
            {% for user in app.user.followedUsers %}
            <div id="followed-user-{{user.id}}" class="card mb-3" style="width: 340px;">
                <div class="row no-gutters">
                    <div class="col-3">
                        <img src="{{asset('img/user-icon.png')}}" class="card-img" alt="user-icon">
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <a href="{{path("public_profile", {id: user.id})}}">
                                    {{user.username}}
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="{{path("user_follow_user", {id: user.id})}}" class="btn btn-primary mt-2" onclick="handleFollowUser(event)">Ne plus suivre</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center">
            Vous ne suivez personne.
        </p>
        {% endif %}
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h2 class="text-center">
            Mes Playlists
        </h2>
        <hr>
        {% if myPlaylists.count > 0 %}
        <div class="d-flex flex-wrap justify-content-xl-between justify-content-md-center">
            {% set counter = 0%}
            {% for playlist in myPlaylists %}
            {% set counter = counter + 1 %}
            {% if counter %2 == 0 %}
            <div class="card mb-3" style="width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-8 order-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                            </h5>
                            <p class="card-text">
                                Créée le :
                                {{playlist.createdAt | date('d/m/y à h:i')}}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {% if playlist.lastUpdate %}
                                    Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                                    {% else %}
                                    Création le {{dateDiff(playlist.createdAt)}}
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 order-1 order-md-3">
                        {% if playlist.contents.count > 0 %}
                        {% set lastElement = playlist.contents.last %}
                        <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                            class="card-img">
                        {% else %}
                        <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                        {% endif %}
                        <div class="row mt-1 mx-0 justify-evenly">
                            <a href="{{path("playlist_edit", {id: playlist.id})}}" class="btn btn-sm btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{path("playlist_delete", {id: playlist.id})}}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card mb-3" style="width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if playlist.contents.count > 0 %}
                        {% set lastElement = playlist.contents.last %}
                        <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                            class="card-img">
                        {% else %}
                        <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                        {% endif %}
                        <div class="row mt-1 mx-0 justify-evenly">
                            <a href="{{path("playlist_edit", {id: playlist.id})}}" class="btn btn-sm btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{{path("playlist_delete", {id: playlist.id})}}" class="btn btn-sm btn-danger delete-playlist">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                            </h5>
                            <p class="card-text">
                                Créée le :
                                {{playlist.createdAt | date('d/m/y à h:i')}}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {% if playlist.lastUpdate %}
                                    Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                                    {% else %}
                                    Création il y a {{dateDiff(playlist.createdAt)}}
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="d-flex-center my-5">
            {{ knp_pagination_render(myPlaylists, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>

        {% else %}
        <p class="text-center">
            Vous n'avez aucune playlist.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}

<script>
    $(".delete-account").confirm({
        title: 'Confirmation',
        content: 'Etes vous sûr de vouloir supprimer votre compte ?',
        theme: 'supervan',
        type: 'green',
        buttons: {
            ok: {
                text: "Continuer",
                action: function () {
                    location.href = this.$target.attr('href');
                }
            },
            cancel: {
                text: "Retour",
                action: function () {
                    console.log('the user clicked cancel');
                }
            }
        }
    }) 

    $(".delete-playlist").confirm({
        title: 'Confirmation',
        content: 'Etes vous sûr de vouloir supprimer cette playlist ?',
        theme: 'supervan',
        type: 'green',
        buttons: {
            ok: {
                text: "Continuer",
                action: function () {
                    location.href = this.$target.attr('href');
                }
            },
            cancel: {
                text: "Retour",
                action: function () {
                    console.log('the user clicked cancel');
                }
            }
        }
    }) 
</script>

{% endblock %}
