{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("public_profile", {id: user.id})}}">
            {{user.username}}
        </a>            
    </li>
{% endblock %}

{% block body %}

<div class="list-group list-group-horizontal text-center justify-content-center">
    {% if app.user and is_granted("ROLE_ADMIN") and app.user != user %}
        {% if 'ROLE_ADMIN' in user.roles %}
            <a href="{{path("admin_switch", {id: user.id})}}" class="remove-admin list-group-item list-group-item-action text-dark bg-warning">
                Retirer les droits admin
            </a>
        {% else %}
            <a href="{{path("admin_switch", {id: user.id})}}" class="add-admin list-group-item list-group-item-action text-dark bg-warning">
                Ajouter les droits admin
            </a>
        {% endif %}

        {% if 'ROLE_BANNED' in user.roles %}
            <a href="{{path("ban_switch", {id: user.id})}}"
                class="unban list-group-item list-group-item-action bg-danger text-light">Unban
            </a>
        {% else %}
            <a href="{{path("ban_switch", {id: user.id})}}"
                class="ban list-group-item list-group-item-action bg-success text-light">Ban
            </a>
        {% endif %}

        <a href="{{path('delete_account', {id: user.id})}}"
            class="delete-account list-group-item list-group-item-action text-light bg-danger">Supprimer le compte</a>
    {% endif %}

    {% if app.user and user in app.user.followedUsers %}
        <a href="{{path("user_follow_user", {id: user.id})}}" class="list-group-item list-group-item-action text-light bg-primary" style="max-width: 278px;" onclick="handleFollowUser(event)">
            Ne plus suivre
        </a>
    {% else %}
        <a href="{{path("user_follow_user", {id: user.id})}}" class="list-group-item list-group-item-action text-light bg-primary" style="max-width: 278px;" onclick="handleFollowUser(event)">
            Suivre
        </a>
    {% endif %}

</div>


<h1 class="text-center display-2">Playlistes de {{user.username}}</h1>
<hr>


<div class="d-flex flex-wrap justify-content-xl-between justify-content-md-center">
    {% set counter = 0%}
    {% for playlist in playlists %}
    {% set counter = counter + 1 %}
    {% if counter %2 == 0 %}
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-8 order-2">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                    </h5>
                    <p class="card-text">
                        Créée le :
                        {{playlist.createdAt | date('d/m/y à h:i')}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if playlist.lastUpdate %}
                            Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                            {% else %}
                            Création le {{dateDiff(playlist.createdAt)}}
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
            <div class="col-md-4 order-1 order-md-3">
                {% if playlist.contents.count > 0 %}
                {% set lastElement = playlist.contents.last %}
                <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                    class="card-img">
                {% else %}
                <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                {% endif %}
                <div class="row mt-1 mx-0 justify-evenly">
                    {{ include("interaction/btn_group.html.twig", {playlist: playlist}) }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if playlist.contents.count > 0 %}
                {% set lastElement = playlist.contents.last %}
                <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                    class="card-img">
                {% else %}
                <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                {% endif %}
                <div class="row mt-1 mx-0 justify-evenly">
                    {{ include("interaction/btn_group.html.twig", {playlist: playlist}) }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                    </h5>
                    <p class="card-text">
                        Créée le :
                        {{playlist.createdAt | date('d/m/y à h:i')}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if playlist.lastUpdate %}
                            Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                            {% else %}
                            Création il y a {{dateDiff(playlist.createdAt)}}
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="d-flex-center">
    {{ knp_pagination_render(playlists, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
</div>

{% endblock %}


{% block javascripts %}
{{parent()}}

<script src="{{asset('js/users_security.js')}}"></script>
    
{% endblock %}