{% extends 'base.html.twig' %}

{% block body %}

<div class="list-group list-group-horizontal text-center">
    {% if app.user and is_granted("ROLE_ADMIN") and app.user != user %}
        {% if 'ROLE_ADMIN' in user.roles %}
            <a id="remove-admin" href="{{path("admin_switch", {id: user.id})}}" class="list-group-item list-group-item-action text-dark bg-warning">
                Retirer les droits admin
            </a>
        {% else %}
            <a id="add-admin" href="{{path("admin_switch", {id: user.id})}}" class="list-group-item list-group-item-action text-dark bg-warning">
                Ajouter les droits admin
            </a>
        {% endif %}

        {% if 'ROLE_BANNED' in user.roles %}
            <a id="unban" href="{{path("ban_switch", {id: user.id})}}"
                class="list-group-item list-group-item-action bg-success text-light">Unban
            </a>
        {% else %}
            <a id="ban" href="{{path("ban_switch", {id: user.id})}}"
                class="list-group-item list-group-item-action bg-success text-light">Ban
            </a>
        {% endif %}

        <a id="delete-account" href="{{path('delete_account', {id: user.id})}}"
            class="list-group-item list-group-item-action text-light bg-danger">Supprimer le compte</a>
    {% endif %}

    {% if user in app.user.followedUsers %}
        <a href="{{path("user_follow_user", {id: user.id})}}" class="list-group-item list-group-item-action text-light bg-primary" onclick="handleFollowUser(event)">
            Ne plus suivre
        </a>
    {% else %}
        <a href="{{path("user_follow_user", {id: user.id})}}" class="list-group-item list-group-item-action text-light bg-primary" onclick="handleFollowUser(event)">
            Follow user
        </a>
    {% endif %}

</div>


<h1 class="text-center display-2">Playlistes de {{user.username}}</h1>
<hr>


<div class="d-flex flex-wrap justify-content-xl-between justify-content-md-center">
    {% set counter = 0%}
    {% for playlist in user.myplaylists %}
    {% if playlist.public %}
    {% set counter = counter + 1 %}
    {% if counter %2 == 0 %}
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-8 order-2">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                    </h5>
                    <p class="card-text">
                        Créée le :
                        {{playlist.createdAt | date('d/m/y à h:i')}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if playlist.lastUpdate %}
                            Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                            {% else %}
                            Création le {{dateDiff(playlist.createdAt)}}
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
            <div class="col-md-4 order-1 order-md-3">
                {% if playlist.contents.count > 0 %}
                {% set lastElement = playlist.contents.last %}
                <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                    class="card-img">
                {% else %}
                <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                {% endif %}
                <div class="row mt-1 mx-0 justify-evenly">
                    <a href="{{path("user_like", {id: playlist.id})}}" class="btn btn-sm btn-primary"
                        onclick="handleLike(event)">
                        <i class="fas fa-thumbs-up"></i> <span>{{playlist.likers.count}}</span>
                    </a>
                    <a href="{{path("user_follow_playlist", {id: playlist.id})}}" class="btn btn-sm btn-primary"
                        onclick="handleFollowPlaylist(event)">
                        <i class="fas fa-user"></i> <span>{{playlist.followers.count}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card mb-3" style="width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if playlist.contents.count > 0 %}
                {% set lastElement = playlist.contents.last %}
                <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                    class="card-img">
                {% else %}
                <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                {% endif %}
                <div class="row mt-1 mx-0 justify-evenly">
                    <a href="{{path("user_like", {id: playlist.id})}}" class="btn btn-sm btn-primary"
                        onclick="handleLike(event)">
                        <i class="fas fa-thumbs-up"></i> <span>{{playlist.likers.count}}</span>
                    </a>
                    <a href="{{path("user_follow_playlist", {id: playlist.id})}}" class="btn btn-sm btn-primary"
                        onclick="handleFollowPlaylist(event)">
                        <i class="fas fa-user"></i> <span>{{playlist.followers.count}}</span>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                    </h5>
                    <p class="card-text">
                        Créée le :
                        {{playlist.createdAt | date('d/m/y à h:i')}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if playlist.lastUpdate %}
                            Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                            {% else %}
                            Création il y a {{dateDiff(playlist.createdAt)}}
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

{% endblock %}


{% block javascripts %}
{{parent()}}

<script src="{{asset('js/users_security.js')}}"></script>
    
{% endblock %}