{% extends "base.html.twig" %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("public_profile", {id: app.user.id})}}">
            {{app.user.username}}
        </a>            
    </li>
    <li class="breadcrumb-item">
        <a href="{{path("delete_account", {id: app.user.id})}}">
            Supprimer mon compte
        </a>            
    </li>
{% endblock %}

{% block body %}

<h1 class="text-center">Vérification de votre compte</h1>
<hr>
    {{form_start(form, {attr: {class: "user-form"}})}}

        {{form_row(form.email)}}

        {{form_row(form.password)}}

        {{form_row(form.validation)}}


        <input class="btn btn-danger" type="submit" value="Supprimer mon compte">
    {{form_end(form)}}

{% endblock %}