
{% for content in playlist.contents %}
<div class="card position-relative mb-5" style="width: 15rem;">
    <img src="{{content.platform.imgUrl | replace({"_content_": content.contentId})}}" class="card-img-top">
    <div class="card-body">
        <h6>
            {{content.title}}
        </h6>
        <p class="card-text small text-muted">
            ajouté le : {{content.createdAt | date("d/m/Y H:i")}}
        </p>
    </div>
    <a class="btn selectors btn-lg btn-primary" href="#"
        data-url="{{content.platform.targetUrl | replace({"_content_": content.contentId})}}"
        onclick="handleClick(event)">Lecture</a>
    {% if app.user %}
    {% if is_granted("ROLE_ADMIN") or app.user == playlist.user %}
    <a class="btn btn-danger delete-button content-delete" href="{{path("delete_content", {id: content.id})}}">
        <i class="fas fa-trash-alt"></i>
    </a>
    {% endif %}
    {% endif %}
</div>
{% endfor %}

{% if ajax is defined and ajax == true %}
<script>
    $(".content-delete").confirm({
        title: 'Confirmation',
        content: 'Etes vous sûr de vouloir supprimer ce contenu ?',
        theme: 'supervan',
        type: 'green',
        buttons: {
            ok: {
                text: "Continuer",
                action: function () {
                    location.href = this.$target.attr('href');
                }
            },
            cancel: {
                text: "Retour",
                action: function () {
                    console.log('the user clicked cancel');
                }
            }
        }
    })
</script>
{% endif %}
