{% extends 'base_admin.html.twig' %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("admin_home")}}">
            Espace Admin
        </a>            
    </li>
{% endblock %}

{% block body %}

<h1 class="text-center display-2">
    Espace admin
</h1>

<div id="last-playlists">
    <h2 class="text-center margin-top-30">
        Toutes les playlists
    </h2>
    <hr>

    <div class="d-flex flex-wrap justify-content-xl-between">
        {% set counter = 0%}
        {% for playlist in playlists %}
        {% set counter = counter + 1 %}
        {% if counter %2 == 0 %}
        <div class="card mb-3" style="width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-8 order-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                        </h5>
                        <p class="card-text">
                            Ajouté par :
                            {% if playlist.user %}
                            <a class="font-italic" href="{{path("public_profile", {id: playlist.user.id})}}">
                                {{playlist.user.username}}
                            </a>
                            {% else %}
                            Utilisateur supprimé
                            {% endif %}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                {% if playlist.lastUpdate %}
                                Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                                {% else %}
                                Création le {{dateDiff(playlist.createdAt)}}
                                {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 order-1 order-md-3">
                    {% if playlist.contents.count > 0 %}
                    {% set lastElement = playlist.contents.last %}
                    <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                        class="card-img">
                    {% else %}
                    <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                    {% endif %}
                    <div class="row mt-1 mx-0 justify-evenly">
                        <a href="{{path("playlist_edit", {id: playlist.id})}}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{path("playlist_delete", {id: playlist.id})}}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card mb-3" style="width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if playlist.contents.count > 0 %}
                    {% set lastElement = playlist.contents.last %}
                    <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}"
                        class="card-img">
                    {% else %}
                    <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
                    {% endif %}
                    <div class="row mt-1 mx-0 justify-evenly">
                        <a href="{{path("playlist_edit", {id: playlist.id})}}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{path("playlist_delete", {id: playlist.id})}}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{path('playlist_detail', {id: playlist.id})}}">{{playlist.title}}</a>
                        </h5>
                        <p class="card-text">
                            Ajouté par :
                            {% if playlist.user %}
                            <a class="font-italic" href="{{path("public_profile", {id: playlist.user.id})}}">
                                {{playlist.user.username}}
                            </a>
                            {% else %}
                            Utilisateur supprimé
                            {% endif %}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                {% if playlist.lastUpdate %}
                                Dernière modification il y a {{dateDiff(playlist.lastUpdate)}}
                                {% else %}
                                Création il y a {{dateDiff(playlist.createdAt)}}
                                {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="d-flex-center">
    {{ knp_pagination_render(playlists, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
</div>


{% endblock %}