{% extends 'base_admin.html.twig' %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("admin_home")}}">
            Espace Admin
        </a>            
    </li>
    <li class="breadcrumb-item">
        <a href="{{path("platforms_list")}}">
            Les plateformes
        </a>            
    </li>
{% endblock %}

{% block body %}
<h1 class="text-center">
    Liste des plateformes
</h1>
<hr>

{% for platform in platforms %}
<div class="card my-4 mx-auto" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title">{{platform.name}}</h5>
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Base url : {{platform.baseUrl}}
                </li>
                <li class="list-group-item">
                    Target url : {{platform.targetUrl}}
                </li>
                <li class="list-group-item">
                    Image url : {{platform.imgUrl}}
                </li>
                <li class="list-group-item">
                    Api url : {{platform.api}}
                </li>
            </ul>
        </div>
        <a href="{{path("platform_delete", {id: platform.id})}}" class="card-link btn btn-danger">
            <i class="fas fa-trash-alt"></i>
        </a>
        <a href="{{path("platform_edit", {id: platform.id})}}" class="card-link btn btn-warning">
            <i class="fas fa-edit"></i>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(".btn-danger").confirm({
            title: 'Confirmation',
            content: 'Etes vous sûr de vouloir supprimer cette plateforme ?',
            theme: 'supervan',
            type: 'green',
            buttons: {  
                ok: {
                    text: "Continuer",
                    action: function(){
                        location.href = this.$target.attr('href');
                    }
                },
                cancel: {
                    text: "Retour",
                    action:  function(){
                        console.log('the user clicked cancel');
                    }
                }
            }
        })

        $(".btn-warning").confirm({
            title: 'Confirmation',
            content: 'Etes vous sûr de vouloir modifier cette plateforme ? Ceci rendra potentiellement son utilisation imposible.',
            theme: 'supervan',
            type: 'green',
            buttons: {  
                ok: {
                    text: "Continuer",
                    action: function(){
                        location.href = this.$target.attr('href');
                    }
                },
                cancel: {
                    text: "Retour",
                    action:  function(){
                        console.log('the user clicked cancel');
                    }
                }
            }
        })
    </script>
{% endblock %}