{% extends 'base_admin.html.twig' %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("admin_home")}}">
            Espace Admin
        </a>            
    </li>
    {% if edit %}
    <li class="breadcrumb-item">
        <a href="{{path("platform_edit", {id: platform.id})}}">
            {{platform.name}}
        </a>            
    </li>
    {% else %}
    <li class="breadcrumb-item">
        <a href="{{path("platform_add")}}">
            Nouvelle plateforme
        </a>            
    </li>
    {% endif %}
{% endblock %}

{% block body %}
{% if edit %}
<h1 class="text-center display-2">Modification de {{platform.name}}</h1>
{% else %}
<h1 class="text-center display-2">Ajouter une plateforme</h1>
{% endif %}


{{form_start(form)}}

    {{form_row(form.name)}}

    {{form_row(form.baseUrl)}}

    {{form_row(form.targetUrl)}}

    {{form_row(form.imgUrl)}}

    {{form_row(form.api)}}

    <input class="btn btn-success" type="submit" value="OK">
{{form_end(form)}}
    
{% endblock %}