{% extends 'base_admin.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block breadcrumb %}
    {{parent()}}
    <li class="breadcrumb-item">
        <a href="{{path("admin_home")}}">
            Espace Admin
        </a>            
    </li>
    <li class="breadcrumb-item">
        <a href="{{path("users_admin")}}">
            Les utilisateurs
        </a>            
    </li>
{% endblock %}

{% block body %}
<h1 class="text-center">Liste des users</h1>
<hr>
<div class="jumbotron">
    <table id="table"  class="table table-responsive-lg table-bordered text-center">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Email
                </th>
                <th>
                    Username
                </th>
                <th>
                    Playlistes
                <th>
                    Commentaires
                </th>
                <th>
                    Admin
                </th>
                <th>
                    Banned
                </th>
                <th>
                    Raccourcis
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}

            {% if "ROLE_ADMIN" in user.roles %}
                <tr class="table-success">
                {% elseif "ROLE_BANNED" in user.roles %}
                <tr class="table-danger">
                {% else %}
                <tr class="table-info">
            {% endif %}
                    <td>
                        
                        <a href="{{path("public_profile", {id:user.id})}}">
                            {{user.id}}  
                        </a>
                    </td>
                    <td>
                        
                        <a href="{{path("public_profile", {id:user.id})}}">
                            {{user.email}}
                        </a>
                    </td>
                    <td>
                        
                        <a href="{{path("public_profile", {id:user.id})}}">
                            {{user.username}}
                        </a>
                    </td>
                    <td>
                        {{user.myPlaylists.count}}
                    </td>
                    <td>
                        {{user.comments.count}}
                    </td>
                    <td>
                        {% if "ROLE_ADMIN" in user.roles %}
                            <i class="fas fa-check text-success"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if "ROLE_BANNED" in user.roles %}
                            <i class="fas fa-check text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if user != app.user %}
                            {% if 'ROLE_ADMIN' in user.roles %}
                                <a id="remove-admin" class="btn btn-sm btn-warning" href="{{path("admin_switch", {id: user.id})}}">Retirer Admin</a>
                            {% else %}
                                <a id="add-admin" class="btn btn-sm btn-warning" href="{{path("admin_switch", {id: user.id})}}">Ajouter Admin</a>
                            {% endif %}

                            {% if 'ROLE_BANNED' in user.roles %}
                                <a id="unban" class="btn btn-sm btn-danger" href="{{path("ban_switch", {id: user.id})}}">Unban</a>
                            {% else %}
                                <a id="ban" class="btn btn-sm btn-success" href="{{path("ban_switch", {id: user.id})}}">Ban</a>
                            {% endif %}
                            
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready(function(){
        $("#table").DataTable({
            "language": {
                // "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
                "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                "sInfoPostFix":    "",
                "sInfoThousands":  ",",
                "sLengthMenu":     "Afficher par page _MENU_",
                "sLoadingRecords": "Chargement...",
                "sProcessing":     "Traitement...",
                "sSearch":         "Rechercher :",
                "sZeroRecords":    "Aucun élément correspondant trouvé",
                "oPaginate": {
                    "sFirst":    "Premier",
                    "sLast":     "Dernier",
                    "sNext":     "Suivant",
                    "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                },
                "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        } 
                }
            }
        })
    })
    </script>

    <script src="{{asset('js/users_security.js')}}"></script>
{% endblock %}
