{% if app.user %}
{% if app.user in playlist.likers %}
<a id="like-btn-{{playlist.id}}" href="{{path("user_like", {id: playlist.id})}}" class="btn btn-sm btn-dark"
    onclick="handleLike(event)">
    <i class="fas fa-thumbs-up"></i>
</a>
{% else %}
<a id="like-btn-{{playlist.id}}" href="{{path("user_like", {id: playlist.id})}}" class="btn btn-sm btn-outline-dark"
    onclick="handleLike(event)">
    <i class="fas fa-thumbs-up"></i>
</a>
{% endif %}

{% else %}
<a id="like-btn-{{playlist.id}}" href="{{path("user_like", {id: playlist.id})}}" class="btn btn-sm btn-outline-dark"
    onclick="handleLike(event)">
    <i class="fas fa-thumbs-up"></i>
</a>
{% endif %}


{% if app.user %}
{% if app.user in playlist.followers %}
<a id="follow-btn-{{playlist.id}}" href="{{path("user_follow_playlist", {id: playlist.id})}}"
    class="btn btn-sm btn-dark" onclick="handleFollowPlaylist(event)">
    <i class="fas fa-user"></i>
</a>
{% else %}
<a id="follow-btn-{{playlist.id}}" href="{{path("user_follow_playlist", {id: playlist.id})}}"
    class="btn btn-sm btn-outline-dark" onclick="handleFollowPlaylist(event)">
    <i class="fas fa-user"></i>
</a>
{% endif %}

{% else %}
<a id="follow-btn-{{playlist.id}}" href="{{path("user_follow_playlist", {id: playlist.id})}}"
    class="btn btn-sm btn-outline-dark" onclick="handleFollowPlaylist(event)">
    <i class="fas fa-user"></i>
</a>
{% endif %}