<div id="comment-form-holder"></div>
{% for comment in comments %}
{% if comment.answerFor == null %}
<hr class="bg-dark">
<div id="collection-{{comment.id}}">
    <div id="{{comment.id}}" class="card">
        <div class="card-header small bg-info text-white">
            <i class="fas fa-minus"></i>
            {% if comment.user %}
            <a class="text-white font-italic" href="{{path("public_profile", {id: comment.user.id})}}">
                {{comment.user.username}}
            </a>
            {% else %}
            Utilisateur supprimé
            {% endif %}

        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    {{comment.text}}
                </p>
                <footer class="blockquote-footer">{{comment.createdAt | date("d.m.Y H:i")}}</footer>
            </blockquote>
            {% if app.user and is_granted("ROLE_ADMIN") %}
            <a href="{{path("comment_delete", {id: comment.id})}}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% for answer in comment.answers %}
    <div id="{{answer.id}}" class="card my-2 ml-5">
        <div class="card-header small text-dark bg-answer">
            <i class="fas fa-minus"></i>
            <i class="fas fa-minus"></i>
            {% if answer.user %}
            <a class="text-dark font-italic" href="{{path("public_profile", {id: answer.user.id})}}">
                {{answer.user.username}}
            </a>
            {% else %}
            Utilisateur supprimé
            {% endif %}

        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    {{answer.text}}
                </p>
                <footer class="blockquote-footer">{{answer.createdAt | date("d.m.Y H:i")}}</footer>
            </blockquote>
            {% if app.user and is_granted("ROLE_ADMIN") %}
            <a href="{{path("comment_delete", {id: answer.id})}}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% if app.user %}
<a class="btn btn-primary" onclick="generateCommentForm(event)" data-collection="{{comment.id}}" href="{{path("answer_comment", {comment_id: comment.id})}}">
    <i class="fas fa-comment-dots"></i> Répondre ici
</a>
{% endif %}
<div id="comment-form-holder-{{comment.id}}"></div>
{% endif %}
{% endfor %}
</div>

<script>
    $(".btn-danger").confirm({
    title: 'Confirmation',
    content: 'Etes vous sûr de vouloir supprimer ?',
    theme: 'supervan',
    type: 'green',
    buttons: {
        ok: {
            text: "Continuer",
            action: function () {
                location.href = this.$target.attr('href');
            }
        },
        cancel: {
            text: "Retour",
            action: function () {
                console.log('the user clicked cancel');
            }
        }
    }
    })
</script>