{% for comment in playlist.comments %}
{% if comment.answerFor == null %}
<div id="comment-form-holder"></div>
<hr class="bg-dark">
<div id="collection-{{comment.id}}">
    <div id="{{comment.id}}" class="card">
        <div class="card-header small bg-info text-white">
            <i class="fas fa-minus"></i> {{comment.user.username}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    {{comment.text}}
                </p>
                <footer class="blockquote-footer">{{comment.createdAt | date("d.m.Y H:i")}}</footer>
            </blockquote>
            {% if app.user %}
            <a class="btn btn-primary" onclick="generateCommentForm(event)" data-collection="{{comment.id}}"
                href="{{path("answer_comment", {comment_id: comment.id})}}">
                <i class="fas fa-comment-dots"></i> Participer a la discussion <i class="fas fa-comment-dots"></i>
            </a>
            {% endif %}

            {% if app.user and is_granted("ROLE_ADMIN") %}
            <a href="{{path("comment_delete", {id: comment.id})}}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% for answer in comment.answers %}
    <div id="{{answer.id}}" class="card mr-0" style="max-width: 65rem;">
        <div class="card-header small text-dark">
            <i class="fas fa-minus"></i>
            <i class="fas fa-minus"></i>
            {{answer.user.username}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                    {{answer.text}}
                </p>
                <footer class="blockquote-footer">{{answer.createdAt | date("d.m.Y H:i")}}</footer>
            </blockquote>
            {% if app.user and is_granted("ROLE_ADMIN") %}
            <a href="{{path("comment_delete", {id: answer.id})}}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div id="comment-form-holder-{{comment.id}}"></div>
{% endif %}
{% endfor %}
</div>