{% extends 'base.html.twig' %}


{% block body %}

<h1 class="text-center">Les Playlistes</h1>

{% if search != null %}
<h4 class="text-center">
    Résultats de la recherche : <strong>{{search}}</strong>
</h4>
{% endif %}

{% if app.user %}
<a class="btn btn-primary btn-lg" href="{{path("playlist_new")}}">Ajouter une playlist</a>
{% endif %}

<hr>

{% for playlist in playlists %}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            {% if playlist.contents.count > 0 %}
            {% set lastElement = playlist.contents.last %}
            <img src="{{lastElement.platform.imgUrl | replace({"_content_": lastElement.contentId})}}" class="card-img">
            {% else %}
            <img src="{{asset("img/no-image-available.png")}}" class="card-img" alt="Pas d'image disponible">
            {% endif %}
        </div>
        <div class="col-md-3 card-body p-3">
            <h4 class="card-title">
                <a href="{{path("playlist_detail", {id: playlist.id})}}">{{playlist.title}}</a>
            </h4>
            <div class="small">
                {% if playlist.user %}
                <p class="card-text">
                    Ajouté par :
                    <a class="font-italic" href="{{path("public_profile", {id: playlist.user.id})}}">
                        {{playlist.user.username}}
                    </a>
                </p>
                {% else %}
                <p class="card-text">
                    Ajouté par : deleted user
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 card-body small p-3">
            <p class="card-text">
                Ajouté le : {{playlist.createdAt | date("d/m/Y H:i")}}
            </p>
            {% if playlist.lastUpdate != null %}
            <p class="card-text text-muted">Mise a jour le : {{playlist.lastUpdate | date("d/m/Y H:i")}}</p>
            {% endif %}
        </div>
        <div class="col-md-2 card-body d-flex">
            <div class="py-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{path("user_like", {id: playlist.id})}}" class="btn btn-sm btn-primary"
                            onclick="handleLike(event)">
                            <i class="fas fa-thumbs-up"></i> <span>{{playlist.likers.count}}</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{path("user_follow_playlist", {id: playlist.id})}}" class="btn btn-sm btn-primary"
                            onclick="handleFollowPlaylist(event)">
                            <i class="fas fa-user"></i> <span>{{playlist.followers.count}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% if app.user and is_granted("ROLE_ADMIN") or app.user and app.user == playlist.user %}
            <div class="py-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{path("playlist_edit", {id: playlist.id})}}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{path("playlist_delete", {id: playlist.id})}}" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    $(".btn-danger").confirm({
        title: 'Confirmation',
        content: 'Etes vous sûr de vouloir supprimer ?',
        theme: 'supervan',
        type: 'green',
        buttons: {
            ok: {
                text: "Continuer",
                action: function () {
                    location.href = this.$target.attr('href');
                }
            },
            cancel: {
                text: "Retour",
                action: function () {
                    console.log('the user clicked cancel');
                }
            }
        }
    })
</script>
{% endblock %}