{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-center">{{playlist.title}}</h1>

{% if app.user == playlist.user or is_granted("ROLE_ADMIN") %}

<a class="btn btn-success btn-lg" href="{{path("content_add", {id: playlist.id})}}">Ajouter item</a>

{% endif %}

<hr>


{% for content in playlist.contents %}
<div class="card" style="width: 18rem;">
    <img src="https://img.youtube.com/vi/{{content.contentId}}/hqdefault.jpg" class="card-img-top">
    <div class="card-body">
        <h6 class="card-text">
            {{content.title}}
        </h6>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script>
        $("#carousel").carousel({
            interval: false
        })
    </script>
{% endblock %}