{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-center">{{playlist.title}}</h1>

{% if app.user == playlist.user or is_granted("ROLE_ADMIN") %}

<a class="btn btn-success btn-lg" href="{{path("content_add", {id: playlist.id})}}" onclick="generateContentForm(event)">Ajouter du contenu</a>

{% if playlist.public %}
        <a class="btn btn-primary btn-lg" href="{{path("playlist_make_private", {id: playlist.id})}}">Rendre privée</a>
    {% else %}   
        <a class="btn btn-primary btn-lg" href="{{path("playlist_make_public", {id: playlist.id})}}">Rendre public</a>
{% endif %}

{% endif %}

<hr id="player">
<div id="content-form-holder" class="jumbotron bg-grey hide"></div>

<div class="card player">
    <div class="card-header text-center">
        <h5 class="card-title">Lecteur</h5>
    </div>
    <div id="embed" class="embed-responsive embed-responsive-16by9 hide">
        <iframe class="embed-responsive-item" src="" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>

<div id="content-part" class="d-flex flex-wrap">
    {% for content in playlist.contents %}
        <div class="card" style="width: 10rem;">
            <img src="{{content.platform.imgUrl | replace({"_content_": content.contentId})}}" class="card-img-top">
            <div class="card-body">
                <h6>
                    {{content.title}}
                </h6>
                <p class="card-text small text-muted">
                    ajouté le : {{content.createdAt | date("d/m/Y H:i")}}
                </p>
            </div>
            <a class="btn selectors btn-lg btn-primary" href="#" data-url="{{content.platform.targetUrl ~ content.contentId}}" onclick="handleClick(event)">Lecteur</a>
            {% if app.user %}
                {% if is_granted("ROLE_ADMIN") or app.user == playlist.user %}
                    <a class="btn btn-lg btn-danger" href="{{path("delete_content", {id: content.id})}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
<div>
    <hr>
    <h3 class="text-center">
        Espace commentaire
    </h3>
    
    {% if app.user %}
    <a class="btn btn-primary btn-lg" onclick="generateCommentForm(event)" href="{{path("comment_playlist", {playlist_id: playlist.id})}}">
        <i class="fas fa-comment-dots"></i> Poster un commentaire <i class="fas fa-comment-dots"></i>
    </a>
    {% endif %}


    
    <div id="comment-part">
        {% for comment in playlist.comments %}
        {% if comment.answerFor == null %}
        <div id="comment-form-holder"></div>
        <hr class="bg-dark">
        <div id="collection-{{comment.id}}">
            <div id="{{comment.id}}" class="card">
                <div class="card-header small bg-info text-white">
                    <i class="fas fa-minus"></i>
                    {% if comment.user %}
                       <a class="text-white font-italic" href="{{path("public_profile", {id: comment.user.id})}}">
                           {{comment.user.username}}
                        </a>
                    {% else %}
                        deleted user
                    {% endif %}
                    
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>
                            {{comment.text}}
                        </p>
                        <footer class="blockquote-footer">{{comment.createdAt | date("d.m.Y H:i")}}</footer>
                    </blockquote>
                    {% if app.user %}
                    <a class="btn btn-primary" onclick="generateCommentForm(event)" data-collection="{{comment.id}}" href="{{path("answer_comment", {comment_id: comment.id})}}">
                        <i class="fas fa-comment-dots"></i> Participer a la discussion <i class="fas fa-comment-dots"></i>
                    </a>
                    {% endif %}
                    
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                    <a href="{{path("comment_delete", {id: comment.id})}}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% for answer in comment.answers %}
                <div id="{{answer.id}}" class="card mr-0" style="max-width: 65rem;">
                    <div class="card-header small text-dark">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-minus"></i>
                        {% if answer.user %}
                            <a class="text-dark font-italic" href="{{path("public_profile", {id: answer.user.id})}}">
                                {{answer.user.username}}
                            </a>
                        {% else %}
                            deleted user
                        {% endif %}
                                           
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>
                                {{answer.text}}
                            </p>
                            <footer class="blockquote-footer">{{answer.createdAt | date("d.m.Y H:i")}}</footer>
                        </blockquote>
                        {% if app.user and is_granted("ROLE_ADMIN") %}
                            <a href="{{path("comment_delete", {id: answer.id})}}" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </div>    
                </div>
            {% endfor %}
        </div>
        <div id="comment-form-holder-{{comment.id}}"></div> 
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset("js/playlist_detail.js")}}"></script>
{% endblock %}