{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-center">{{playlist.title}}</h1>

{% if app.user == playlist.user or is_granted("ROLE_ADMIN") %}

<a class="btn btn-success btn-lg" href="{{path("content_add", {id: playlist.id})}}">Ajouter item</a>

{% endif %}

<hr>

<div class="card player">
    <iframe src="https://www.youtube.com/embed/lr3Rw2wcugI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

{% for content in playlist.contents %}
<div class="card" style="width: 18rem;">
    <img src="{{content.platform.imgUrl | replace({"_content_id_": content.contentId})}}" class="card-img-top">
    <div class="card-body">
        <h6>
            {{content.title}}
        </h6>
        <p class="card-text small text-muted">
            ajouté le : {{content.createdAt | date("d/m/Y H:i")}}
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}